body {
    color: #333; /* Color de texto principal */
    text-align: center;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo más claro */
}

#container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border-radius: 8px; /* Bordes redondeados */
}

#cabecera {
    background-color: #4CAF50; /* Color verde para la cabecera */
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Bordes redondeados superiores */
    font-size: 1.5em;
    font-weight: bold;
}
